.rodape {
  height: 80px;
  background-color: var(--cor-primaria-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape p {
  margin: 0;
}

.content-rodape {
  color: var(--cor-texto-secundario);
  font-size: 16px;
  font-weight: 300;
}

.content-rodape a {
  color: var(--cor-texto-secundario);
  font-weight: 500;
  text-decoration: none;
}
