@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --cor-primaria-bg: #0b2545;
  --cor-secundaria-bg: #13315c;
  --cor-terciaria-bg: #134074;
  --cor-quartenaria-bg: #69d4ff;
  --cor-quintenaria-bg: #eef4ed;

  --cor-texto-primario: #0b2545;
  --cor-texto-secundario: #eef4ed;
  --cor-texto-terciario: #134074;
}

html,
body {
  height: 100%;
}
body {
  margin: 80px auto 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
